includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/thecodingmachine-rules.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - lib/
        - tests/
    excludes_analyse:
        - %currentWorkingDirectory%/lib/Pear/*
    ignoreErrors:
        -
            message: '#Method Slam\\Excel\\Helper\\ColumnCollection::offset.+ has no return typehint specified#'
            path: %currentWorkingDirectory%/lib/Helper/ColumnCollection.php
        -
            message: '#Cannot call method \w+\(\) on PHPExcel_Cell\|null#'
            path: %currentWorkingDirectory%/tests/Helper/TableWorkbookTest.php
