includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - lib/
        - tests/
    excludes_analyse:
        - %currentWorkingDirectory%/lib/Pear/*
